.menuItem {
    border-bottom: solid var(--text-inv) 0.1rem;
    background: var(--main);
    height: 10%;
    overflow: hidden;
    padding: 1%;

    display: grid;
    grid-template-areas: 'title addLayer';
    grid-template-columns: 85% 15%;
}

.itemTitle {
    grid-area: title;
    user-select: none;
}

.addLayer {
    position: relative;
    grid-area: addLayer;
    background:none;
    color: var(--text-inv);
    height: 100%;
    border: none;
    cursor: pointer;
}

.addLayer:active{
    transition: 0.1s;
    color: white;
}