.menu{
    z-index: 3;
    background: var(--main);
    overflow-y: overlay;
    overflow-x: hidden;
    border-radius: 0.5rem;
}

.menu::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 0.5rem;
    background: transparent;
}

.menu::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255, 0.5);
    border-radius: 1rem;
}

.menu::-webkit-scrollbar-button{
    height: 2%;
}