.selected {
    background: var(--active);
    color: var(--text-inv);
}

#activeMenu {
    display: grid;
    grid-template-areas:
        'menuTitle'
        'activeList';
    grid-template-rows: 1.2rem 10rem;
    color: var(--text);
}

.activeTitle{
    background: var(--secondary);
    grid-area: menuTitle;
    border-bottom: var(--text) 0.1rem solid;
}

.activeLayers {
    grid-area: activeList;
    overflow: overlay;
}

.activeLayers::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 0.5rem;
    background: transparent;
}

.activeLayers::-webkit-scrollbar-thumb {
    background: var(--active);
    border-radius: 1rem;
}

.activeLayers::-webkit-scrollbar-button {
    height: 2%;
}

.activeMenuItem{
    height: 15%;
}