<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type ="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RailVisulisation.Properties.Settings"
               type ="System.Configuration.ClientSettingsSection, System, Version=4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="apiKey" value="API-KEY-HERE"/>
    <add key="statKey" value="STAT-KEY-HERE"/>
  </appSettings>
  <location path="." inheritInChildApplications="true">
    <connectionStrings>
      <add name="directionsAPI" providerName="maps.googleapis.com" connectionString="https://maps.googleapis.com/maps/api/directions/json"/>
      <add name="loggingAPI" providerName="dw470.brighton.domains" connectionString="https://dw470.brighton.domains/railvisstats"/>
    </connectionStrings>
  </location>
</configuration>
