.search{
    display: grid;
    grid-template-rows: 7.5% 15% 7.5% 15% 7.5% 15% 7.5% 15% 10%;
    grid-template-areas: 
        'inputOneLabel'
        'inputOne'
        'dateOneLabel'
        'dateOne'
        'inputTwoLabel'
        'inputTwo'
        'dateTwoLabel'
        'dateTwo'
        'submit';
    height: 100%;
}

#inputOneLabel{
    grid-area: inputOneLabel;
}

#inputTwoLabel{
    grid-area: inputTwoLabel;
}

#inputOne{
    grid-area: inputOne;
}

#inputTwo{
    grid-area: inputTwo;
}

.submit{
    height: 100%;
    grid-area: submit;
    background: var(--secondary);
}

.searchInput{
    background: var(--secondary);
    color: white;
    border: none;
    height: 100%;
}

.searchInput:focus{
    border: none;
    outline: none;
}

.inputLabel{
    font-size: 90%;
    height: 100%;
}

#dateOne{
    grid-area: dateOne;
}

#dateTwo{
    grid-area: dateTwo;
}

#dateOneLabel{
    grid-area: dateOneLabel;
}

#dateTwoLabel{
    grid-area: dateTwoLabel;
}