.search{
    display: grid;
    grid-template-rows: 10% 17.5% 10% 17.5% 10% 17.5% 1.25% 15% 1.25%;
    grid-template-areas: 
        'inputOneLabel'
        'inputOne'
        'inputTwoLabel'
        'inputTwo'
        'depatureTime'
        'depatureTimeLabel'
        '.'
        'submit'
        '.';
    height: 100%;
}

#inputOneLabel{
    grid-area: inputOneLabel;
}

#inputTwoLabel{
    grid-area: inputTwoLabel;
}

#inputOne{
    grid-area: inputOne;
}

#inputTwo{
    grid-area: inputTwo;
}

.submit{
    height: 100%;
    grid-area: submit;
    background: var(--secondary);
    border: solid var(--text) 0.1rem;
    border-radius: 0.1rem;
    color: var(--text);
}

.submit:active{
    background: var(--active);
    color: var(--text-inv);
}

.searchInput {
    background: var(--secondary);
    color: var(--text);
    border: none;
    height: 100%;
}

.searchInput:focus{
    border: none;
    outline: none;
}

.inputLabel{
    font-size: 90%;
    height: 100%;
    color: var(--text);
    text-align: center;
}

#depatureTime{
    grid-area: depatureTime;
}

#depatureTimeLabel{
    grid-area: depatureTimeLabel;
}