.search{
    display: grid;
    grid-template-rows: 10% 17.5% 10% 17.5% 10% 17.5% 17.5% ;
    grid-template-areas: 
        'inputOneLabel'
        'inputOne'
        'inputTwoLabel'
        'inputTwo'
        'depatureTime'
        'depatureTimeLabel'
        'submit';
    height: 100%;
}

#inputOneLabel{
    grid-area: inputOneLabel;
}

#inputTwoLabel{
    grid-area: inputTwoLabel;
}

#inputOne{
    grid-area: inputOne;
}

#inputTwo{
    grid-area: inputTwo;
}

.submit{
    height: 100%;
    grid-area: submit;
    background: var(--secondary);
    border: solid black 0.2rem;
}

.submit:active{
    background: var(--main);
}

.searchInput{
    background: var(--secondary);
    color: var(--text);
    border: none;
    height: 100%;
}

.searchInput:focus{
    border: none;
    outline: none;
}

.inputLabel{
    font-size: 90%;
    height: 100%;
    color: var(--text);
}

#depatureTime{
    grid-area: depatureTime;
}

#depatureTimeLabel{
    grid-area: depatureTimeLabel;
}