.routingMenu{
    position: absolute;
    right: 0%;
    height: 20%;
    width: 20%;
}

#routingSearch{
    grid-area: search;
    min-height: 6rem;
}

.directionMenu {
    position: absolute;
    right: 0%;
    min-height: 20%;
    max-height: 50%;
    top: 25%;
    width: 20%;
    display: grid;
    grid-template-areas: 
        'clearSearch'
        'outputList';
    grid-template-rows: 5% 95%;
    overflow: hidden;
}

.directionsList{
    grid-area: outputList;
    overflow-y: overlay;
    overflow-x: hidden;
}

#clearSearch{
    grid-area: clearSearch;
    outline: none;
    background: var(--secondary);
}

.directionsList::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 0.5rem;
    background: transparent;
}

.directionsList::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.5);
    border-radius: 1rem;
}

.directionsList::-webkit-scrollbar-button {
    height: 2%;
}