#map{
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.activeMenu {
    position: absolute;
    top: 35%;
    width: 20%;
    min-height: 10%;
    max-height: 40%;
    overflow: hidden;
}

.layerMenu {
    width: 20%;
    max-height: 30%;
    position: absolute;
    left: 0.05%;
    top: 0.6%;
    color: var(--text);
}