.Stats{
    height: 100vh;
    background: var(--main);
    display: grid;
    grid-template-areas: 'pieChart breakDown';
    grid-template-columns: 30% 70%;
}

.pieData {
    grid-area: pieChart;
    width: 100%;
    background: var(--secondary);
    border-radius: 0.5rem;
}

.pieData canvas {
    border: solid 0.2rem var(--text);
    border-radius: 0.5rem;
}

.layerBreakDown{
    grid-area: breakDown;
    border: solid 0.2rem var(--text);
    border-radius: 0.5rem;
    background: var(--secondary);
}