#appContianer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        'navBar'
        'screen';
    grid-template-rows: 5% 75%;
}

.navBar{
    grid-area:navBar;
    background: var(--secondary);
}

.DWMap{
    grid-area: screen;
    height: 100vh;
}

.Stats{
    grid-area: screen;
}